.iframe-payment{
    width: 490px;
    display: inline-block;
    margin: 0 auto; 
    //min-width: 100px;
    height: 900px;
}
.col{
    &.centering{
        align-items: center;
        margin: 0 auto;
        margin-left: 5%;
        width: 100%;
    }
}
.iframe-loader{
    //display: inline-block;
    margin: 0 auto;
    margin-left: 12%;
    margin-top: 20vh;
    //width: 100%;
}