@font-face {
    font-family: 'Untitled1';
    src: url('../../assets/seat-sources/seatsource.woff2') format('woff2'),
        url('../../assets/seat-sources/seatsource.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

.seat-element{
    font-family: 'Untitled1';
}