
@import '../../master';

.row-legends-croquis {
    //margin: 20px auto;
    margin-left: 11%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    grid-template-columns: 3fr 3fr 5fr; /* Size of items defined inside container */
    //position: relative;
}


.circle-croquis {
    width: 54px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    line-height: 53px;
    text-align: center;
    margin-top: 10px;
    //margin-bottom: 40px;
    margin-left: 10px;
    &.free{
        background: $seat-free-color;
    }

    &.blocked{
        background: $seat-blocked-color;
    }

    &.sold{
        background: $seat-sold-color;
    }
}


@media (max-width: 1125px) {
    .row-legends-croquis {
        margin-left: 15%;       
    }   
}