@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
@import '../../master';

.row-legends-croquis {
    margin: 20px auto;
    max-width: 300px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr; /* Size of items defined inside container */
    position: relative;
}


.circle-croquis {
    width: 48px;
    height: 48px;
    font-family: 'Acme', sans-serif;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

    &.free{
        background: $seat-free-color;
    }

    &.blocked{
        background: $seat-blocked-color;
    }

    &.sold{
        background: $seat-sold-color;
    }
}

