

.container-croquis {
	min-width: 978px;
	display: flex;
	flex-direction: column;
	margin: 30px;
	margin-top: 100px;
	
	.box-croquis {
		text-align: center;
		color: black;
		font-family: sans-serif;
		font-size: 22px;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		

	}
	
}

.img-stage-croquis{
	//fill: #333;
	width: 400px;
	height: 400px;
	margin: -145px;
	position: sticky;
	//background-color: aqua;
	clip-path:  polygon(0 30%, 100% 30%, 100% 49%, 60% 49%, 60% 70%, 41% 70%, 41% 49%, 0 49%);
	path{
		fill: rgb(10, 8, 6);
	}
}


.img-dentis-croquis{
	width: 105px;
	height: 105px;
	
	margin: -58px;
	margin-left: 250px;
	position: sticky;
	
	path{
		fill:black;
	}
	-webkit-transform: rotate(90deg) rotateY(150deg); /* Safari prior 9.0 */
	transform: rotate(90deg) rotateY(150deg);;
}


