

.container-croquis {
	min-width: 852px;
	display: flex;
	flex-direction: column;
	margin: 30px;
	margin-top: 100px;
	
	.box-croquis {
		text-align: center;
		color: black;
		font-family: sans-serif;
		font-size: 22px;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		

	}
	
}

.img-stage-croquis{
	z-index: -1;
	width: 400px;
	height: 400px;
	margin: -145px;
	position: sticky;
	
	path{
		fill: rgb(10, 8, 6);
	}
}


.img-dentis-croquis{
	width: 105px;
	height: 105px;
	
	margin: -58px;
	margin-left: 250px;
	position: sticky;
	
	path{
		fill:black;
	}
	-webkit-transform: rotate(90deg) rotateY(150deg); /* Safari prior 9.0 */
	transform: rotate(90deg) rotateY(150deg);;
}

.img-shooting-croquis{
	width: 205px;
	height: 205px;
	
	margin: -104px;
	margin-right: 250px;
	position: sticky;
	
	path{
		fill:black;
	}
	clip-path: polygon(11% 0, 100% 0, 100% 100%, 11% 100%);
}


@media(max-width:1050px){

	.container-croquis{
		transform: scale(0.8,0.8);
		margin-top: -40px;
		margin-left: -82px;
	}
	.box-croquis{
		//-ms-transform: scale(0.9,0.8); /* IE 9 */
		//-webkit-transform: scale(0.9,1); /* Safari prior 9.0 */
		transform: scale(0.8,0.8); /* Standard syntax */
		min-width: 985px;
		margin-left: inherit;
	}
	
}