

.container-croquis {
	min-width: 978px;
	display: flex;
	flex-direction: column;
	margin: 30px;
	margin-top: 100px;
	
	.box-croquis {
		text-align: center;
		color: black;
		font-family: sans-serif;
		font-size: 22px;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		

	}
	
}

.img-stage-croquis{
	fill: #333;
	height: 250px;
	margin: -80px;
}


