@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import '../../master';


h3{
  font-family:  'Acme', sans-serif;
  font-size: 18px;
  position: relative;

}

.seat-sold{
  fill: $seat-sold-color;
}
.seat-free{
  fill: $seat-free-color;
}
.seat-blocked{
  fill: $seat-blocked-color;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  
  &.legend-stage{
    flex-direction: column;
  }
  &.vip{
    justify-content: center;
  }

  &.lounge{
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;  
  }
  a {
    text-decoration: none;
  }
}


th, td {
  font-size: 50%;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .img-stage{
    margin-left: 305px;
    height: 10%;
    width: 18%;
  }
  .grid-row{
    &.lounge{
      margin-left: 24%;
      margin-right: 24%;
  
    }
  }
  

  th, td {
      font-size: 25%;
  }
  
}

@media (max-width: 1125px) {
  th, td {
    font-size: 34%;
    padding: 2px;
  }
  h3{ 
    font-size: 12px;
  }
  .container{
    padding-top: 280px;
  }
  
  .img-stage{
    padding-top: 7px;
    height: 180px;
  }
}



