@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

h3{
  font-family: 'Roboto';
  font-size: 18px;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-row a {
  text-decoration: none;
}


th, td {
  font-size: 50%;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

@media (max-width: 992px) {
  th, td {
      font-size: 25%;
  }
}

@media (max-width: 1125px) {
  th, td {
    font-size: 34%;
    padding: 2px;
  }
  h3{
    font-family: 'Roboto';
    font-size: 12px;
  }
  .container{
    padding-top: 150px;
  }
}

@media (max-width: 458px) {
  h3{
    font-family: 'Roboto';
    font-size: 10px;
    color: blue;
  }
  th, td {
    font-size: 30%;
    padding: 1px;
  }
  .container{
    padding-top: 100px;
  }
  .box{
    overflow: scroll;
  }
}


@media (max-width: 345px) {
  /* For mobile phones: */
  
  h3{
    font-family: 'Roboto';
    font-size: 8px;
    color: goldenrod;
  }
  th, td {
    font-size: 25%;
    padding: 1px;
  }
  .container{
    padding-top: 50px;
    background-color: aqua;
  }
  
}
