@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import '../../master';


.h3-croquis{
  font-family:  'Roboto', sans-serif;
  font-size: 18px;
  position: relative;
}

.seat-croquis{
  width:17px ;
  height:17px ;
  margin: -1px;
  font-size: 18px;
  //font-weight: bold;
  
  
  &.seat-sold{
    color: $seat-sold-color;
    fill-opacity: 0.8;
  }
  &.seat-free{
    color: $seat-free-color;
  }
  &.seat-selected{
    color: $seat-selected-color;
  }
  &.seat-blocked{
    color: $seat-blocked-color;
    fill-opacity: 0.4;
  }
}


.grid-row-croquis {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  

  &.legend-stage{
    flex-direction: column;
  }
  &.vip{
    margin-left: 265px;
    margin-right: 260px;
    justify-content: center;

    &.KIM{
      margin-left: 14%;
      margin-right: 16%;
      justify-content: center;
    }

    &.KANO{
      margin-left: 14%;
      margin-right: 14%;
      justify-content: center;
    }
    
  }

  &.lounge{
    margin-top: 50px;
    &.KIM{
      
      margin-left: 31%;
      margin-right: 30.4%;
      justify-content: center;
    } 
    &.KANO{
      margin-left: 31%;
      margin-right: 30.4%;
      justify-content: center;
    } 
  }
  &.profesionales{
    &.KIM{
      margin-left: 21%;
      margin-right: 21%;
      justify-content: center;
    }
    &.KANO{
      justify-content: center;
    }
  }
}

.grid-row-croquis-legends{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.tr-croquis, .td-croquis {
  font-size: 70%;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  &.col-letter{
    font-family: 'Roboto';
    font-weight: bold;
    color: #333;
  }
  &.col-number{
    font-family: 'Roboto', cursive;
    color: #333;
  }
}


@media (max-width: 853px) {
  .img-stage-croquis{
    height: 5;
    width: 10;
    size: 3px;
  }
  
}

@media (max-width: 992px) {
  
  .grid-row-croquis{
    &.lounge{
      margin-left: 24%;
      margin-right: 24%;
    }
  }
}

@media (max-width: 1125px) {
  
  .tr-croquis, .td-croquis {
    font-size: 67%;
    padding: 4px;
  }
  .h3-croquis{ 
    font-size: 13px;
  }
  
  .img-stage-croquis{
    padding-top: 7px;
    height: 170px;
  }
    
}



.filler {
  flex-grow: 1;
  background: lightgreen;
}